/* *{border:solid gold 1px} */
body{
    /* background-color: rgb(0, 162, 255); */
    background-color:lightblue;
    text-transform: capitalize;
    
}
ul{
    /* display:flex;
    flex-direction: column; */
    align-items:center;
    justify-content:left;
    background-color: lightblue;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
}
li{
    padding:2px;
    margin: 2px;
}
.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    margin: 5px;
    color:white;
    padding: 2px;
    background:linear-gradient(rgb(0, 162, 255), lightblue);    
}
a{
    border: 1px solid black;
    border-radius:2px;
    margin:5px;
    padding: 2px;
    background-color: whitesmoke;
    text-decoration:none;
}
.header a{
    margin: 2px;
    text-decoration:none;
}